* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
    background: linear-gradient(90deg, #1e3c72 0%, #2a5298 100%);
}

.bg-light {
    background: linear-gradient(90deg, #1e3c72 0%, #2a5298 100%);
}

.rounded-pill {
    border: 1px solid white;
}

a {
    color: white !important;
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #57b846;
}

::placeholder {
    color: white;
    opacity: 0.5;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

li {
    margin-right: 10px;
    padding-right: 15px;
    border-right: 1px solid;
}

.li_border_right {
    border-right: 0px;
}

.text_field {
    background: transparent;
    width: 500px;
    border-radius: 10px;
    border: 1px solid white;
    height: 50px;
    box-shadow: -11px -4px 52px -11px rgba(13, 73, 97, 0.72);
    -webkit-box-shadow: -11px -4px 52px -11px rgba(13, 73, 97, 0.72);
    -moz-box-shadow: -11px -4px 52px -11px rgba(13, 73, 97, 0.72);
    margin: 10px;
}
input {
    outline: none;
    border: none;
}

.form_D {
    height: 600px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.col-md-6 {
    flex: 0 0 auto;
    width: 100%;
}

.btn-danger {
    background: transparent;
    width: 70px;
    height: 51px;
    font-size: 20px;
    color: aliceblue;
    border: 1px solid white;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #2a5298;
    box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
    color: white;
    border: 1px solid white;
    transform: translateX(7px);
}

.bg-info {
    background-color: #2a5298 !important;
    color: white;
}